.formulario{
  text-align: center;
  width: 30%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: red 1px solid;
  color: white;
  font-size: 25px;
  background-color: rgba(255,255,255,0.5);
  border: rgba(22,203,27,1) 2px outset;
}
input{
  height: 20px;
  padding-left: 5px;
}
button{

}
table{
  font: 100% cursive;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 500px;
  border-collapse: collapse;
  border: black 4px solid;
}
thead{
  border-collapse: collapse;
  border: black 4px solid;
}
th{
  margin: 100px;
  color: white;
  text-align: center;
  border: black 1px solid;
}
