img{
  margin: auto;
  height: 100px;
  width: 100px;
}
table{
  font: 100% cursive;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 500px;
  border-collapse: collapse;
  border: black 4px solid;
}
thead{
  border-collapse: collapse;
  border: black 4px solid;
}
th{
  margin: 100px;
  color: white;
  text-align: center;
  border: black 1px solid;
}
